.menu {
  background-color: transparent;
  border: 1px solid #fff;
  opacity: 0.6;
}

.scroll-header {
  backdrop-filter: blur(10px);
}

.header-link {
  transition: all ease-in 0.2s;
  padding: 5px 8px;
  border-radius: 0.375rem;
  color: #fff;
  font-weight: 600;
}
